<div class="row">
  <div class="col-md-3">
    <div class="panel space-4">
        <div class="media media-photo-block">
          <div class="text-center">
            <% if @user.image_url != nil %>
            <%= image_tag @user.image_url + "?type=large", class: "profile-pic-large" %>
            <% end %>
          </div>
        </div>

        <div class="panel-body">
          <h2 class="text-center">
            <%= @user.first_name %></h2>
          <ul class="list-unstyled text-center">
            <li>
              <%= link_to "View Profile", user_path(@user), class: "btn btn-custom" %>
            </li><br>
            <li>
              <%= link_to "Edit Profile", edit_user_path(@user) %>
            </li>
            <li> REVIEWS
              <!-- <%#= link_to "Reviews", user_reviews_path ...or whatever %> -->
            </li>
          </ul>
        </div>
      </div>
  </div>

    <div class="col-md-9">
      <div class="card col-md-12" id="toggle">
        <div class="card_header">
          <ul class = "nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#notifications">Notifcations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#pending">Pending Reservations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#confirmed">Confirmed Reservations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#finished">Past Reservations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#declined">Declined Reservations</a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="notifications" role="tabpanel">
              YOU HAVE (x) new messages (LINK TO MESSAGE INDEX)<br>
              YOU HAVE (x) pending requests (LINK TO personal reservations, my properties' reservations)
            </div>
            <div class="tab-pane" id="pending" role="tabpanel">
              <%= render partial: 'reservations/reservations', locals: {status: 'pending', user: @user} %>
            </div>

            <div class="tab-pane" id="confirmed" role="tabpanel">
              <%= render partial: 'reservations/reservations', locals: {status: 'confirmed', user: @user} %>
            </div>

            <div class="tab-pane" id="finished" role="tabpanel">
              <%= render partial: 'reservations/reservations', locals: {status: 'finished', user: @user} %>
            </div>

            <div class="tab-pane" id="declined" role="tabpanel">
              <%= render partial: 'reservations/reservations', locals: {status: 'declined', user: @user} %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
