<div class="nav-search-bar">
  <div class="nav-search">
      <div class="form-group">
        <%= text_field_tag(:location, nil, placeholder: 'Anywhere') %>
      </div>
      <div class="form-group">
        <%= text_field_tag :date_range %>
      </div>
      <div class="form-group">
        <%= text_field_tag(:guests, nil, placeholder: '1 Guest')%>
      </div>
  </div>
</div>

<%= javascript_include_tag '//cdn.jsdelivr.net/momentjs/latest/moment.min.js' %>
<%= javascript_include_tag'//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js' %>