<div class="row">
  <div class="col-md-8">
    <h2><%= @property.name %></h2>
    <p><%= "#{@property.city}, #{@property.state}" %></p><br>
    <p class="weather">
      <b>Current weather</b><br>
      <% if @weather.class == String %>
      <%= @weather %>
      <% else %>
      Conditions: <%= "#{@weather.conditions}" %> |  Temp: <%= "#{@weather.temperature}" %> |  Wind: <%= "#{@weather.wind}" %>
      <% end %>
    </p>
  </div>
  <div class="col-md-4">
    <img src="<%= @property.owner.image_url %>" alt="<%= @property.owner.full_name %>" height="100px">
    <p><%= @property.owner.full_name %></p>
  </div>
</div>
