
<h3>Search Results</h3>

<div class="map-index">
  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
     src="<%="https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_MAP_KEY']}&q=#{property_attributes(@properties)}"%>" allowfullscreen>
  </iframe>
</div>

<% if @properties.empty? %>
  There were no properties that matched your search criteria!
<% else %>
  <h3><%="Properties avaialable between #{@check_in} and #{@check_out}" if @check_in && @check_out %></h3>
  <h4><%="Properties with #{@number_of_guests} or more guests allowed" if @number_of_guests%></h4>
  <div class="results">
  <% @cities.each do |city| %>
    <h3>Properties in <%= city %></h3>
      <% @properties.each do |property| %>
        <% if property.city == city %>
          <%= property.name %><br>
          <%= image_tag(property.image_url) %><br><br>
        <% end %>
      <% end %>
  <% end %>
  </div>

<% end %>

<%= paginate @properties %>
