<!-- <img class="property_image" src="prop_show_image.png" alt="<%#= @property.name %>"> -->
<%= image_tag(@property.image_url, width: 1140) %>
<!-- <div class="show_cropping"> -->

<!-- </div> -->
<!-- <img class="property_image" src="" alt="<%#= @property.name %>"> -->

<hr>

<div class="property row">
  <!-- begin tabbed section -->
  <div class="card col-md-9" id="toggle">
    <div class="card_header">
      <ul class = "nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#overview">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#location">Location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#host">The Host</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="overview" role="tabpanel">
          <%= render partial: 'property_header' %>
          <div class="text-left">
            <% if @property.owner == current_user %>
            <%= link_to "Edit this property", edit_property_path(@property), class: 'btn btn-custom' %><br><br>
            <%= link_to "View property availability", property_property_availabilities_path(@property), class: 'btn btn-custom' %>
            <% end %>
        </div>
          <hr>
          <%= render partial: 'list_info' %>
          <hr>
          <h3>About this listing</h3>
          <p><%= @property.description %></p>
          <hr>
          <h3>The space</h3>
          <%= render partial: 'the_space' %>
        </div>

        <div class="tab-pane" id="location" role="tabpanel">
          <%= render partial: 'property_header' %>
          <hr>
          <h3>The neighborhood</h3>
          <%= render partial: 'the_neighborhood' %>
        </div>

        <div class="tab-pane" id="reviews" role="tabpanel">
          <%= render partial: 'property_header' %>
          <hr>
          <h3>Reviews</h3>
        </div>

        <div class="tab-pane" id="host" role="tabpanel">
          <%= render partial: 'property_header' %>
          <hr>
          <h3>Hosted by <%= @property.owner.full_name %></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="booking-price">
      <h4>$<%= @property.two_digit_price %> per night</h4>
    </div>
    <div class="booking-box">
      <%= render partial: 'booking' %>
    </div><br>
  </div>
</div>
