<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <span class="title">Fairbnb</span> <span class="subtitle"> &nbsp; Book unique homes and experience a city like a local. Fairly? :)</span>
    </div>
  </div>
  <%= render partial: 'partials/search_home' %>
  <div class="container">
    <div class="all_homes">
      <h2>Homes</h2>
      <div class="card-deck">
        <% @featured_properties.each do |property| %>
        <div class="card">
          <%= image_tag property.image_url, class: "card-img-top", size: "250x250" %>
          <div class="card-block">
            <p class="card-text"> <a href="<%= property_path(property.id) %>">  <%= property.name[0..28] %></a></p>
          </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="featured_cities">
      <!-- begin card deck -->
      <h2>Featured Cities</h2>
      <div class="card-deck">
        <div class="card">

          <%= image_tag "http://www.planetware.com/photos-tiles/colorado-denver-city-view-and-mountains.jpg", class: "card-img-top", size: "250x250" %>
          <div class="card-block">
            <p class="card-text"><%= link_to "Denver","/properties?utf8=✓&city=Denver&check_in=&check_out=&guests=" %></p>
          </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="card">

          <%= image_tag "http://www.myhockeytournaments.com/img/sites/chicago/001.jpg", class: "card-img-top", size: "250x250" %>
          <div class="card-block">
            <p class="card-text"><%= link_to "Chicago","/properties?utf8=✓&city=Chicago&check_in=&check_out=&guests=" %></p>
          </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="card">

          <%= image_tag "http://www.visitflorida.com/content/dam/visitflorida/en-us/images/articles/2011/march/1300805920_miami_cocktail-hour-at-cafe-sambal_sm.jpg", class: "card-img-top", size: "250x250" %>
          <div class="card-block">
            <p class="card-text"><%= link_to "Miami","/properties?utf8=✓&city=Miami&check_in=&check_out=&guests=" %></p>
          </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="card">

          <%= image_tag "https://farm8.staticflickr.com/7386/13883313211_587c22bdae_b.jpg", class: "card-img-top", size: "250x250" %>
          <div class="card-block">
            <p class="card-text"><%= link_to "Wauwatosa","/properties?utf8=✓&city=Wauwatosa&check_in=&check_out=&guests=" %></p>
          </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;

      </div>
      <!-- end card deck -->
    </div>
  </div>
<% end %>